/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'SignPainter-HouseScript';
    src: url('../fonts/SignPainter-HouseScript.ttf');
}

/*@font-face {*/
    /*font-family: 'ADAM CC PRO';*/
    /*src: url('../fonts/ADAM.CG%20PRO.otf');*/
/*}*/

body {
    padding: 0;
    background-color: #FAF9F5;
}

/*
    .landing-container{
        /*background-image: url("../images/header-image.jpg");
        background-size: cover;
        background-position: center;
        background-position: 0 80%;
        background-repeat: no-repeat;
        height: 70%;
    }
    */
.landingsss {
    display: flex;
    justify-content: center;
}

.landing {
    width: 100%;
    height: 100%;
    background: url("../images/header-image.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.logo {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 30%;
    height: 30%;

}

.logo-caption {
    font-family: 'SignPainter-HouseScript';
    color: white;
    font-size: 5em;
    display: flex;
    justify-content: center;
    height: 15vh;
    min-height: 100px;
}

.footer {
    float: left;
}

.divider {
    width: 100vw;
    max-width: 100%;
    height: 250px;
    background-color: #FBCA5D;
}

.counter-container {
    font-family: 'ADAM CC PRO';
    display: flex;
    justify-content: center;
}

.counter-style {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.counter-container h2 {
    white-space: nowrap;
    font-size: 3.5em;
}

.counter-container h3 {
    white-space: nowrap;
    font-size: 2em;
}

.counter-container h1 {
    white-space: nowrap;
    font-size: 7em;

}

#counter-1 {
}

#counter-2 {
}

#counter-3 {
}

.email {
    width: 100vw;
    max-width: 100%;
    height: 25vh;
    min-height: 300px;
    background-color: #FAF9F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email h1 {
    font-family: "SignPainter-HouseScript";
    font-size: 4em;

}

#email-option {
    display: block;
}

.footer {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FBCA5D;
}

.social-icon {
    display: flex;
    justify-content: center;
    margin: 5px;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
    background-color: #ffffff;
    color: #000000;
}

.call-to-action h1 {
    font-family: "SignPainter-HouseScript";
}

.call-to-action .btn {
    margin: 10px;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Support */

.support {
    background-color: #333333;
    width: 100%;
    font-family: "SignPainter-HouseScript";
    padding: 55px 50px;
    color: #fff;
}

.support h2, h4 {
    color: #fff;
    margin-top: 0;
}

.support h4 {
    padding-bottom: 10px;
}

.support a {
    margin: 20px;
}

/* mobile fixes */
@media only screen and (max-width: 1390px) {

    .counter-container h2 {
        font-size: 3em;
    }

    .counter-container h3 {
        Font-size: 1.5em;
    }

    .counter-container h1 {
        font-size: 4em;
    }

}

@media only screen and (max-width: 990px) {

    .counter-container h2 {
        font-size: 2.5em;
    }

    .counter-container h3 {
        Font-size: 1em;
    }

    .counter-container h1 {
        font-size: 3.5em;
    }

}

@media only screen and (max-width: 640px) {

    .logo-caption {
        margin-top: 30px;
        font-size: 3em;
    }

    .counter-container h2 {
        font-size: 1.5em;
    }

    .counter-container h3 {
        Font-size: 0.8em;
    }

    .counter-container h1 {
        font-size: 2em;
    }

}

/* bingo shit dawg */
/*TODO mobile shit*/

body{
    height: 100%;
}

.container{
    height: 100%;
}

.game{
    height: 100%;
    max-height: 95vh;
}


.cards-container{
    height:40%;
    margin-top: 20px;
}

.row{
    margin-bottom: 5px;
}

.cards-row .card-panel{
    margin: 0;
}

.bingo-square {
    height:120px;
    /*margin:0.5px;*/
}
.bingo-square p {
    margin: 0 auto;
}

.input-form{
    margin-top: 50vh;
}
.button-container{
    width: 100%;
    display: inline-block;

}

.modal-trigger{
    width: 100%;
}


.chat-area{
    height: 50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-area-expanded{
    height:50vh;
}

.submit-button{
    float: right;
}
.modal{
    overflow-y: hidden !important;
    max-height: 90% !important;
}

















/********************/
.top {

    position: absolute;
    top: 0;

    display: table-cell;
    text-align: center;

    width: 100vw;
    width: 100%;
    height: 80%;
    /*min-height:400px;*/

    background-color: blue;
}

.words-container {
    width: 100vw;
    max-width: 100%;
    height: 100%;

    background-color: green;

}

.room-select {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.rs-error{
    margin-top: 50px;
}

.words-row {
    /*display: table-cell;*/
    margin: 0 auto;
    width: 80%;
}

.word {

    /*width: 23vw;*/
    max-width: 25vw;
    height: 20vh;
    background-color: #C0FDFB;
    /*margin: 1px;*/
    float: left;
    border-style: solid;
    border-width: 2px;

}

.col-centered{
    float: none;
    margin: 0 auto;
}

.word p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    word-wrap: break-word;
}

.word:hover {
    background-color: #55828b;
}

.word-clicked{
    background-color: #55828b;
}

.console{
    position: fixed;
    height: 15vh;
    width: 100%;
    background-color: #ac2925;
    bottom: 0;
    margin-bottom: 5vh;
}


.input {

    position: fixed;
    bottom: 0;

    width: 100vw;
    width: 100%;
    height: 5vh;
    min-height: 20px;

    background-color: red;;
}

#message-submit input {
    width: 100vw;
    max-width: 100%;
}

.console{
    overflow-x: hidden;
    overflow-y: scroll;
}

.console p{
    display:inline-block;
    margin: 0;

    word-wrap: break-word;

    background-color: #3CC1AB;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 10px;

    max-width: 80vw;
}

.server-m{
    float: right;
    display: inline-block;
    margin-right: 20px;
}

.local-m{

    margin-left: 20px;
}


input {
    border-color: #cccccc;
    padding: 11px;
    font-size: 16px;
    border-radius: 0px;
    border-style: double;
    border-width: 2px;
    background-color: #ffffff;
}

.input:focus {
    outline: none;
}

input[type=submit] {
    display: none;
    /*width:250px;*/
}

/*.left{*/
/*width:75vw;*/
/*max-width:75%;*/
/*height: 100vh;*/
/*max-height:100%;*/
/*background-color: #70C1B3;*/
/*float: left;*/
/*display: table-cell;*/
/*text-align: center;*/
/*}*/

/*.words-container{*/
/*width: 60%;*/
/*margin: auto;*/
/*position: relative;*/
/*top: 50%;*/
/*transform: translateY(-50%);*/
/*}*/

/*.word{*/
/*width:150px;*/
/*height:150px;*/
/*background-color: #C0FDFB;*/
/*margin: 2px;*/
/*}*/

/*.word p {*/
/*position: relative;*/
/*top: 50%;*/
/*transform: translateY(-50%);*/
/*margin: 0;*/
/*word-wrap: break-word;*/
/*}*/

/*.word:hover{*/
/*background-color: #55828b;*/
/*}*/

/*.word-clicked{*/
/*background-color: #55828b;*/
/*}*/

/*.words-row{*/
/*width:100vw;*/
/*max-width: 100%;*/
/*}*/

/*.right{*/
/*width:25vw;*/
/*max-width:25%;*/
/*height:100vh;*/
/*max-height:100%;*/
/*background: #247BA0;*/
/*float: right;*/
/*}*/

/*.right input{*/
/*width:60%;*/
/*}*/

/*.right input[type=submit] {*/
/*width:40%;*/
/*}*/

/*.events-log{*/
/*width:100%;*/
/*height:90%;*/
/*overflow-x: hidden;*/
/*overflow-y: scroll;*/

/*margin:auto;*/

/*padding: 20px;*/
/*}*/
/*.events-log p{*/
/*background-color: #3CC1AB;*/
/*-webkit-border-radius:5px;*/
/*-moz-border-radius:5px;*/
/*border-radius:5px;*/
/*padding: 10px;*/
/*}*/

/*.events-log ul{*/
/*background-color: #3CC1AB;*/
/*-webkit-border-radius:5px;*/
/*-moz-border-radius:5px;*/
/*border-radius:5px;*/
/*padding: 10px;*/
/*}*/

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;

}

/*.server-message{*/
/*background-color:#FF0043;*/
/*}*/


