<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">filthy ie user gtfo</p>
<![endif]-->

<section class="landing">
  <div class="landing-container col-md-12">
    <div class="landingsss">
      <img class="logo img-responsive" src="/images/logo.png" >
    </div>
    <div class="logo-caption">"We're like x for y"</div>
  </div>

  <div class="divider counter-container">
    <div class="col-md-3 counter-style" id="counter-1">
      <h1>70+</h1>
       <h3>DOWNLOADS</h3>
    </div>
    <div class="col-md-3 counter-style" id="counter-2">
      <h1>150+</h1>
       <h2>GAMES PLAYED</h2>
    </div>
    <div class="col-md-3 counter-style" id="counter-3">
      <h1>100%</h1>
        <h3>FAKE METRICS</h3>
    </div>
  </div>
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/e293844b98985d2d8ef7965e6d2e77b7.html" id="lightwidget_e293844b98" name="lightwidget_e293844b98"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
              </div>
            </div>
        </div>
    </div>
</aside>


<section class="support">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-2">
        <img src="images/logo-trans.png" style="width: 250px; height: 175px;">
      </div>
      <div class="col-md-10">
        <h1>Need to rant? Here are our digits.</h1>
        <hr class="small">
        <a href="mailto:hello@startupbingo.co"><i class="fa fa-3x fa-envelope"></i></a>
        <a target="_blank" href="https://www.instagram.com/startupbingo/"><i class="fa fa-3x fa-instagram"></i></a>
        <a target="_blank" href="https://twitter.com/catermebne"><i class="fa fa-3x fa-twitter"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>
